<%= render :partial => 'shared/nav' %>
<div id='gk-show-idt-page' class='gk-page'>
  <h1>Stamp plates</h1>
  </div>
  <%= form_tag(stamps_path, {class: 'form-horizontal'}) do %>
    <div class='col-md-6'>
      <%= render :partial => 'robot', :layout => :'layouts/section', :locals => {:title => "Robot Setup" } %>
      <%= render :partial => 'stock', :layout => :'layouts/section', :locals => {:title => "Stock Setup" } %>
    </div>
    <div class='col-md-6'>
      <%= render :partial => 'beds',  :layout => :'layouts/section', :locals => {:title => "Bed Setup"   } %>
    </div>
  <% end %>
</div>
<div class="hidden">
  <div class="alert alert-danger alert-dismissable unknown-error"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>An unknown error has occured! Please contact support.</div>


  <div class="alert alert-warning stock-progress bed-progress">
    <span class="glyphicon glyphicon-time"></span> Validating...
  </div>
  <div class="alert alert-success stock-success">
    <span class="glyphicon glyphicon-ok-sign"></span> Success, please proceed.
  </div>
  <div class="alert alert-danger stock-error">
    <span class="glyphicon glyphicon-exclamation-sign"></span> There was a problem with the stock plate...
    <ul class="stock_error_list error_list">
    </ul>
  </div>
  <div class="alert alert-success bed-success">
    <span class="glyphicon glyphicon-ok-sign"></span> The robot is set up correctly. Please choose one of the stamp options below, and then start the robot.
  </div>
  <div class="alert alert-danger bed-error">
    <span class="glyphicon glyphicon-exclamation-sign"></span> There was a problem with the bed setup...
    <ul class="bed_error_list error_list">
    </ul>
  </div>
  <div class="bed list-group-item">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <strong>Bed Barcode:</strong> <span class="bed-barcode"></span><br/>
    <strong>Plate Barcode:</strong> <span class="plate-barcode"></span>
  </div>
</div>
