<%= render :partial => 'shared/nav' %>
<div id='gk-new-stamp-page' class='gk-page'>
  <h1>Stamp plates</h1>
  </div>
  <%= form_tag(stamps_path, {class: 'form-horizontal'}) do %>
    <div class='col-md-6'>
      <%= render :partial => 'robot', :layout => :'layouts/section', :locals => {:title => "Robot Setup", :robot_barcode => @params[:robot_barcode], :tip_lot => @params[:tip_lot] } %>
      <%= render :partial => 'stock', :layout => :'layouts/section', :locals => {:title => "Stock Setup", :lot_bed => @params[:lot_bed], :lot_plate => @params[:lot_plate]    } %>
    </div>
    <div class='col-md-6'>
      <%= render :partial => 'beds',  :layout => :'layouts/section', :locals => {:title => "Bed Setup" } %>
    </div>
  <% end %>
</div>
<div class="hidden">
  <%= render :partial => 'alerts/critical_error' %>

  <div class="alert alert-warning stock-progress bed-progress">
    <%= glyph('time') %> Validating...
  </div>
  <div class="alert alert-success stock-success">
    <%= glyph('ok-sign') %> Success, please proceed.
  </div>
  <div class="alert alert-danger stock-error">
    <%= glyph('exclamation-sign') %> There was a problem with the stock plate...
    <ul class="stock_error_list error_list">
    </ul>
  </div>
  <div class="alert alert-success bed-success">
    <%= glyph('ok-sign') %> The robot is set up correctly. Please choose one of the stamp options below, and then start the robot.
  </div>
  <div class="alert alert-danger bed-error">
    <%= glyph('exclamation-sign') %> There was a problem with the bed setup...
    <ul class="bed_error_list error_list">
    </ul>
  </div>
  <div class="bed list-group-item">
    <button type="button" class="close" aria-hidden="true">&times;</button>
    <strong>Plate Barcode:</strong> <span class="plate-barcode"></span><br/>
    <strong>Bed Barcode:</strong> <span class="bed-barcode"></span>
  </div>
</div>
