<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Gatekeeper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% Settings.lot_types.each do |lot_type,details| %>
              <li><%= link_to "#{lot_type} Lot", new_lot_path({:lot_type=>lot_type}), {:class=>'menu-item'} %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to 'Stamp Plate', new_stamp_path, {:class=>'menu-item'} %></li>
        <li><%= link_to 'Create QC Pool', new_qc_asset_path, {:class=>'menu-item'} %></li>
        <li class="dropdown">
          <a href='#' class='dropdown-toggle' data-toggle="dropdown">Pass or Fail Plates <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= form_tag search_qc_decisions_path, :method => 'get' do %>
            <li><div class="input-group">
              <input type="text" class="form-control" id="lot_number" placeholder="Batch ID" required="required" name="batch_id">
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value='Find'>
              </span>
            </div></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <%= form_tag search_lots_path, :method => 'get', :class=>'navbar-form navbar-right' do %>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Lot number" name="lot_number">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Find</button>
          </span>
        </div>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
