
<div class="batch-qc-decisions">

<%= form_tag({:action=>:create},{:class=>'form-horizontal'}) do %>
<%= render :partial => 'form_elements/user_swipecard' %>
<hr>
<div>
<h4>Actions</h4>
  <div class="btn-group pull-right">
    <button class="btn btn-success" type="button" id="batch-release-all-lots">Release All Lots</button>
    <button class="btn btn-danger"  type="button" id="batch-fail-all-lots">Fail All Lots</button>
  </div>
<% end %>
</div>

<table class="table">
  <thead>
    <th>Lot Number</th><th>Lot Type</th><th>Received at</th><th>Action</th>
  </thead>
  <tbody>
    <% lots.each_lot_without_decision do |lot, lot_number, lot_uuid, type_name, template_name, lot_received_at| %>
      <tr>
        <td><a href="<%= new_lot_qc_decision_path(lot_uuid) %>"><%= lot_number %></a></td><td><%= type_name %></td><td><%= lot_received_at %></td>
        <td data-lot-uuid="<%= lot_uuid %>">
          <%= form_for(:batches_qc_decisions, :url => {:action => :create}, :remote => true, :data => { :type => :json}) do %>
            <input type="hidden" name="user_swipecard" />
            <input type="hidden" name="lot_id" value="<%= lot_uuid %>" />
            <div class="btn-group pull-right">
              <button name="decision" value="release" class="btn btn-success" type="submit" id="all-to-release">Release lot</button>
              <button name="decision" value="fail" class="btn btn-danger"  type="submit" id="all-to-fail"   >Fail lot</button>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
