
<div>

<%= form_tag({:action=>:create},{:class=>'form-horizontal'}) do %>
<%= render :partial => 'form_elements/user_swipecard' %>
<h3>Actions</h3>
  <div class="btn-group pull-right">
    <button class="btn btn-success" type="button" id="all-to-release">Set All Lots To Release</button>
    <button class="btn btn-danger"  type="button" id="all-to-fail"   >Set All Lots To Fail</button>
  </div>
<% end %>
</div>

<table class="table">
  <thead>
    <th>Lot Number</th><th>Lot Type</th><th>Template</th><th>Received at</th><th>Action</th>
  </thead>
  <tbody>
    <% lots.each_lot_without_decision do |lot, lot_number, lot_uuid, type_name, template_name, lot_received_at| %>
      <tr>
        <td><a href="<%= new_lot_qc_decision_path(lot_uuid) %>"><%= lot_number %></a></td><td><%= type_name %></td><td><%= template_name %></td><td><%= lot_received_at %></td>
        <td>
          <%= form_for(lot, :url => lot_qc_decisions_path(lot_uuid), :method => :post, :remote => true) do %>
            <input type="hidden" name="user_swipecard" />
            <div class="btn-group">
              <button name="decision_to_all" value="release" class="btn btn-success" type="submit" id="all-to-release">Release lot</button>
              <button name="decision_to_all" value="fail" class="btn btn-danger"  type="submit" id="all-to-fail"   >Fail lot</button>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
