<%= render :partial => 'progress_bar', :locals=>{:lot=>lot } %>
<%= render :partial => 'progress_summary', :locals=>{:lot=>lot } %>

<ul class="nav nav-tabs">
  <% lot.each_state do |state,_,_| -%>
    <li class="<%= lot.active?(state) %>"><a href="#<%= state %>" data-toggle="tab"><%= state.humanize %></a></li>
  <% end %>
</ul>

<%= form_tag({:controller=>'barcode_labels',:action=>:create},{:class=>'barcode-printing-form'}) do %>
<div class="tab-content">
  <% lot.each_state_and_children do |state,children| -%>
    <div class="tab-pane <%= lot.active?(state) %>" id="<%= state %>"><%= render :partial => 'child_table', :locals=>{:children=>children,:state=>state} %></div>
  <% end %>
</div>

<input type='hidden' name="study"  value="<%= "#{lot.lot_number}:#{lot.template_name}" %>" />
<input type='hidden' name="prefix" value="<%= lot.prefix %>"/>

<div class="form-group">
  <label for="barcode_printer" class="col-sm-5 control-label">Barcode Printer</label>
  <div class="input-group col-sm-6">
    <%= input_glyph('barcode') %>
    <select class="form-control" required="required" id="barcode_printer" name="barcode_printer">
      <% each_barcode_printer(lot.printer_type) do |name,uuid| -%>
        <option value='<%= uuid %>'><%= name %></option>
      <% end %>
    </select>
    <span class="input-group-btn">
      <button class="btn btn-success">Print</button>
    </span>
  </div>
</div>
<div class="bc-feedback"></div>

<% end %>
