<tr id='<%= state %>_plate_<%= child.index %>'>
  <td class='plate_index'><%= child.index %></td>
  <td class='plate_barcode'><%= child.human_readable %></td>
  <td><input type='checkbox' id='selected[<%= child.id %>]' name='barcodes[<%= child.human_readable %>]' value='<%= child.human_readable %>'/></td>
</tr>
