<%= form_tag(lot_qcables_path(lot), {class: 'form-horizontal'}) do %>
  <%= render :partial => 'form_elements/user_swipecard' %>

  <div class="form-group">
    <label for="plate_number" class="col-sm-5 control-label">Number of  <%= lot.child_type.pluralize %></label>
    <div class="input-group col-sm-6">
      <%= input_glyph('plus') %>
      <input type="number" class="form-control" id="plate_number" name="plate_number" placeholder="0" min=<%= lot.min_qcables %> step=<%= lot.step_qcables %> max=<%= lot.max_qcables %> required="required">
    </div>
  </div>

  <div class="form-group">
    <label for="barcode_printer" class="col-sm-5 control-label">Barcode Printer</label>
    <div class="input-group col-sm-6">
      <%= input_glyph('print') %>
      <select class="form-control" required="required" id="barcode_printer" name="barcode_printer">
        <% each_barcode_printer(lot.printer_type) do |name,uuid| -%>
          <option value='<%= uuid %>'><%= name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-5"></span>
    <div class="col-sm-6">
      <button type="submit" class="form-control btn-success" id="submit" value="Create <%= lot.child_type.pluralize.titleize %> and Print Barcodes"><span class='glyphicon glyphicon-print'></span> Create <%= lot.child_type.pluralize.titleize %> and Print Barcodes</button>
    </div>
  </div>

<% end #Form %>
