<tr id='<%= state %>_plate_<%= plate.index %>'>
  <td class='plate_index'><%= plate.index %></td>
  <td class='plate_barcode'><%= plate.barcode %></td>
  <td><input type='checkbox' id='selected[<%= plate.id %>]'/></td>
</tr>
