<%= render :partial => 'progress_bar', :locals=>{:lot=>lot } %>
<%= render :partial => 'progress_summary', :locals=>{:lot=>lot } %>

<ul class="nav nav-tabs">
  <% lot.each_state do |state,_,_| -%>
    <li class="<%= lot.active?(state) %>"><a href="#<%= state %>" data-toggle="tab"><%= state.humanize %></a></li>
  <% end %>
</ul>

<form class='form-horizontal'>
<div class="tab-content">
  <% lot.each_state_and_plates do |state,plates| -%>
    <div class="tab-pane <%= lot.active?(state) %>" id="<%= state %>"><%= render :partial => 'plate_table', :locals=>{:plates=>plates,:state=>state} %></div>
  <% end %>
</div>

<div class="form-group col-sm-4">
  <label for="barcode_printer" class="col-sm-6 control-label">Barcode Printer</label>
  <div class="col-sm-6">
    <select class="form-control" required="required" id="barcode_printer">
      <option>d304bc</option>
      <option>d304bc</option>
      <option>d304bc</option>
      <option>d304bc</option>
      <option>d304bc</option>
    </select>
  </div>
</div>
<div class="form-group col-sm-4">
    <input type="submit" class="form-control btn-success" id="submit" value="Print Replacement Barcodes">
</div>

</form>
