<div class="progress-collection">
  <span id='total_plates_count'><%= lot.total_plates %></span> plates created
  <div class="progress">
    <% lot.each_state_except('created') do |state,count,percentage| -%>
      <div class="progress-bar progress-bar-<%= state %>" style="width: <%= percentage %>%" title='<%= count %> <%= state.humanize %> Plates'>
        <span class="sr-only"><%= count %> <%= state.humanize %>Plates</span>
      </div>
    <% end %>
  </div>
</div>
