<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= Gatekeeper::Application.config.name %></title>
  <%= stylesheet_link_tag "application" %>
  <% if Rails.application.config.disable_animations %>
    <%= stylesheet_link_tag  'disable_animations' %>

    <!-- Turn off animations in jQuery -->
    <script>$.fx.off = true;</script>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class='gk-env-<%= Rails.env %>'>
  <div id="flash-holder">
    <% flash.each do |category, msg| -%>
      <%= content_tag :div, class: "alert alert-#{category}"  do %>
        <strong><%= flash_message(category) %></strong> <%= msg %>
      <% end %>
    <% end -%>
  </div>
  <%= yield %>
  <div id='gk-app-info' class="well well-sm">
    <p><%= Gatekeeper.application_string %> <%= Gatekeeper.release_name %> <%= link_to Gatekeeper.commit_information, Gatekeeper.repo_url %> - <a href='mailto:<%= Gatekeeper::Application.config.support_mail %>'>Need Help? Drop us an email.</a></p>
    <p><%= Gatekeeper.host_name %></p>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
