<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= Gatekeeper::Application.config.name %></title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='gk-env-<%= Rails.env %>'>
  <div id="flash-holder">
    <% flash.each do |category, msg| -%>
      <%= content_tag :div, class: "alert alert-#{category}"  do %>
        <strong><%= flash_message(category) %></strong> <%= msg %>
      <% end %>
    <% end -%>
  </div>
  <%= yield %>
  <div id='gk-app-info' class="well well-sm">
    <p><%= Gatekeeper.application_string %></p>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
